.book-page {
    background: url('../Assets/harry.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .book-details {
    display: flex;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 900px;
    width: 100%;
  }
  
  .book-image {
    flex: 1;
  }
  
  .book-image img {
    width: 100%;
    height: auto;
  }
  
  .book-info {
    flex: 2;
    padding: 20px;
  }
  
  .book-info h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .book-info p {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  